/* Global Default */
*,
*:before,
*:after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
}

/* --- Section Titles --- */
section h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
}

/* --- Navbar --- */


nav {
    padding: 1rem;
    background-color: #4b5c6b;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

nav a {
    color: whitesmoke;
    font-style: normal;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* --- Hero Section --- */


.hero {
    background: url(/images/hero.jpg) no-repeat right 40% top 50% fixed;
    min-height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    color: #ff7f7f;
}

.hero h2 {
    font-size: x-large;
    color: #59a5af;
}

/* --- About Me Section ---*/
.about-me {
    background-color: #96c3ec;
    min-height: 20rem;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


/* --- Projects Section ---*/
.projects {
    min-height: 40rem;
    background-color: #fbe192;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


/* --- Contacts section --- */
.contacts {
    min-height: 10rem;
    background-color: #dfe6ed;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.contacts-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    display:flex;
    margin: 2rem;
}

.contact-descriptor { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.contact-information {
    margin: 1rem;
}